* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

section {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#fc46aa, black);
}

.sec2 {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(black, orange, black);
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

p {
  text-align: justify;
}

h1 {
  font-size: 80px;
}

.left2,
.right2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
}

.sec3 {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(black, red);
}

.left3,
.right3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 500px;
}
